.App {
  text-align: center;

}

.App-header {
  position: static;
  height: 100px;
}

.nupp {
  background-color: green;
  color: grey;
  height: 50px;
  width: 100px;
}

.nupp:hover {
  height: 100px;
  cursor: grab;
  font-size: 24px;
}

.nupp:active {
  cursor: grab;
}

.text1:hover {
  font-size: 24px
}

.text2 {
  font-size: 40px;
  color: green;
  font-weight:bold;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  cursor:auto;
  height: 80px;
  

}

.text2:hover {
  border-color: brown;
  
}

.Pilt {
  float: right;
  height: 300x;
  width: 600px;
 
}

.Pilt:hover {
  border-radius: 5%;
  opacity: 80%;
}

.h2 {
  color: black;
  
}
table {
  border-collapse: collapse;
  width: 100%;

}

table, th, td {
  border: 1px solid #dddddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}