.App {
  text-align: center;
}

.nupp {
 font-weight: bold;
 border-radius: 10px;
}

.nupp:hover {
  cursor: pointer; 
}

.nupp:active {
  transform: scale(120%);
}

.pilt { 
  /* width: 200px; */
  height: 200px;
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;

}

.pilt:active {
  transform: scale(120%);
}

.keel {
  font-size: 20px;
}

.keel-aktiivne {
  font-size: 20px;
  font-weight: bold;
  background-color: lightblue;
}

.summa {
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;

  
}

.summa-aktiivne {
  border-color: rgb(227, 6, 140);
  color: rgb(227, 6, 140);
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;

}

.linn-aktiivne {
  text-decoration: underline;

}

.vaade {
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 30px;

}

.vaade-aktiivne {
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 30px;
  background-color: black;
  color: white;


}